

.merriweather-merri{
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.inter-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


*{
    margin:0;
    padding: 0;
}

#banner{
    /* background-image: url('../images/Banner\ Image.png'); */
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../images/Banner\ Image.png);
    display:flex;
    background-repeat: no-repeat;
    height:600px;
    width: 1320px;
    margin: 50px 140px 120px 140px;
    align-items: center;
    justify-content:center;
    border-radius: 16px;
}
#banner .banner-content{
    width:632px;
    height:246px;
}
#banner .banner-content .subtitle{
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
}
#banner .banner-content .title{
    font-size: 72px;
    color: #FFFFFF;
    text-align: center;
}

/* second section */
.sec-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:802px;
    height: 806px;
    margin: 48px auto 120px auto;
}

.sec-section .sec-container .offer-title{
    font-size: 88px;
    font-weight: bold;
    text-align: center;
    color: #FF0000;
}

.sec-container .offer-subtitle{
    font-size: 24px;
    color: #FF0000;
    font-weight: 500px;
    text-align: center;
    /* width:809px;
    height: 802px; */
}

.catagory{
    font-size: 48px;
    color: #070211;
    font-weight: bold;
    text-align: center;
}
.offer-pic{
    padding: 48px;
    width:802px;
    height: 500px;
}


/* main second banner */
.sec-banner{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 0 auto 120px auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.sec-ban-title{
    font-weight: 900;
    font-size: 66px;
    margin-bottom: 24px;
    color: #FFFFFF;
}
.sec-ban-subtitle{
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 48px;
    width: 690px;
    height: 60px;
}
.join{
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    margin-left: 32px;
}
.sec-img{
    width:320px;
    height: 464px;
    margin:auto;
}
.sec-ban-cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 126px;
    width:40%;
}

/* Shade section */
.shade{
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1320px;
    height: 482px;
    margin: 0 auto 120px auto;
}
.writing{
    font-size: 32px;
    font-weight: 600;
    color: #070211;
}
.red{
    font-size: 32px;
    font-weight: 600;
    color: #FF0000;
}
.writing-container{
    margin-bottom: 48px;
}
.btn{
    background-color: #FF0000;
    padding: 16px 32px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    /* text-align: center;
    align-items: center; */
}
.shade-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Round figure */
.subtitle-1{
    font-weight: 500px;
    font-size: 24px;
    color: #FF0000;
    padding-bottom: 16px;
}
.title-1{
    font-weight: 900;
    font-size: 48px;
    color: #070211;
    padding-bottom: 16px;
}
.title-2{
    font-weight: bold;
    font-size: 48px;
    color: #FF0000;
    padding-bottom: 16px;
}

.paragraph{
    font-weight: normal;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
}
.img-1{
    width: 364px;
    height: 364px;
    padding: 49px;
    border: 15px solid #FF0000;
    border-radius: 50%;
}
.txt{
    width:33.33%;
    height:33.33%;
}
.img-1-div{
    width:33.33%;
    margin: 49px 200px 49px 80px;
}
.logo{
    margin-top: 43px;
}
.txt-2{
    width:33.33%;
    height:33.33%;
}
.img-txt-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1320px;
    height:463px;
    margin:  0 auto 120px auto;
    align-items: center;
}
